.split-pane *.split-pane-divider{
    -fx-padding: 1 0 0 0;
}
.table-view{
	-fx-border-color: white;
}
.table-view .table-row-cell {  
    -fx-background-insets: 0;  
}
.table-row-cell:empty .table-cell {  
    -fx-border-width: 0px;  
}  
.tree-view{
	-fx-padding:0 0 0 0;
} 
